<h1>Sign Up</h1>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :type %>
    <%= f.select :company_admin,
        :selection => ["User", "Company"] %>
  </div>
  <div id="company_name">
    <%= f.label :company_name %>
    <%= f.text_field :company_name %>
  </div>
  <!-- <div id="company_description"> -->
    <%#= f.label :company_description %>
    <%#= f.text_field :company_description %>
  <!-- </div> -->
  <div id="user_name">
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>

  </div>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <!-- <div> -->
    <%#= f.label :tagline %>
    <%#= f.text_field :tagline %>
  <!-- </div> -->
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit %>
<% end %>

<script>
   function show_hide_company() {
     if ($("#user_company_admin :selected").text() == "Company") {
       $("#company_name").show();
       $("#company_description").show();
       $("#user_name").hide();
     }
     else {
       $("#company_name").hide();
       $("#company_description").hide();
       $("#user_name").show();
     }
   }

  show_hide_company();

  $("#user_company_admin").on('change', function(){
    show_hide_company();
    // if ($("#user_company_admin :selected").text() == "Company") {
    //   $("#company_name").show();
    // }
    // else {
    //   $("#company_name").hide();
    // }
  })
</script>
