<h1>All Application Questions for <%= @company.title %></h1>

<h3>All questions</h3>

<div id="application_questions">
<% @company.application_questions.order(position: :asc).each do |application_question| %>
 <!-- <li><%#= a_q.question %></li> -->
 <h4 id="application_question_<%= application_question.id %>"><%= application_question.question %><%= link_to " Delete", company_application_question_path(@company, application_question), method: :delete, data: {confirm: "Are you sure?"} %></h4>

<% end %>

<script type='text/javascript'>
  var companyId = <%= @company.id %>
</script>

</div>

<%= render "question_form", company: @company%>
<%#= form_for @application_question, url: application_questions_path do |f| %>
  <!-- <br/> -->

  <%#= f.nested_fields_for :application_questions do |ff| %>
    <%#= ff.remove_nested_fields_link %>
    <%#= ff.text_field :question %>
  <%# end %>

  <!-- <br/> -->

  <%#= f.add_nested_fields_link :application_questions %>

  <!-- <br/> -->

  <%#= f.submit "Update Questions" %>
 <%# end %>
