<h1><u><center>Edit Company Profile</center></u></h1>

<%= @company.errors.full_messages.join(", ") %>
<%= form_for @company do |f| %>

<div class="form-group" id="profile_picture">
   <label for="exampleInputFile">Upload profile picture</label>
   <%= f.file_field :picture %>
   <p class="help-block">Ideally your profile picture should be square.</p>
 </div>

  <div class="form-group">
    <label >Company name</label>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Tagline</label>
    <%= f.text_field :tag_line, class: "form-control" %>
  </div>

  <div class="form-group">
      <label>Company description</label>
      <%= f.text_area :description, class: "form-control", rows: "4"%>
    </div>

    <div id="include_map" class="form-group">
      <label>Show location on profile?</label>
      <%= f.select :include_map, :selection => [["No", false], ["Yes", true]] %>
      <%#= check_box_tag(:include_map) %>
      <%#= label_tag(:include_map, "Include Map?") %>
    </div>
    <div id="latitude" class="form-group">
      <label>Latitude</label>
      <%= f.text_field :latitude, class: "form-control" %>
    </div>

    <div id="longitude" class="form-group">
      <label>Longitude</label>
      <%= f.text_field :longitude, class: "form-control" %>
    </div>
  </div>

<% end %>

<%#= @company.errors.full_messages.join(", ") %>
<%#= form_for @company do |f| %>
<div>
  <%#= f.label "Profile Picture" %>
  <%#= f.file_field :picture %>
</div>
  <div>
    <%#= f.label "Company Name" %>
    <%#= f.text_field :title %>
  </div>
  <div>
    <%#= f.label "Tagline" %>
    <%#= f.text_field :tag_line %>
  </div>
  <div>
    <%#= f.label "Company Description" %>
    <%#= f.text_area :description %>
  </div>
  <div>
    <%#= f.label "Link" %>
    <%#= f.text_field :link %>
  </div>
  <!-- <div id="include_map"> -->
      <%#= f.label "Include Map?" %>
      <%#= f.radio_button :include_map, 'Yes' %>
      <%#= f.label :include_map, 'Yes', :value => 'Yes' %>
      <%#= f.radio_button :include_map, 'No' %>
      <%#= f.label :include_map, 'No', :value => 'No' %>
    <!-- </div> -->
  <div id="latitude">
    <%#= f.label "Latitude" %>
    <%#= f.text_field :latitude %>
  </div>
  <div id="longitude">
    <%#= f.label "Longitude" %>
    <%#= f.text_field :longitude %>
  </div>
<%#= f.submit %>

<%# end %>

<script>

   function show_hide_coordinates() {
     if ($("#include_map :selected").text() == "Yes") {
       $("#latitude").show();
       $("#longitude").show();
     }
     else {
       $("#latitude").hide();
       $("#longitude").hide();
     }
   }

  show_hide_coordinates();

  $("#include_map").on('change', function(){
    show_hide_coordinates();
    // if ($("#user_company_admin :selected").text() == "Company") {
    //   $("#company_name").show();
    // }
    // else {
    //   $("#company_name").hide();
    // }
  })

</script>
