<h1>Edit Company Profile</h1>

<%= @company.errors.full_messages.join(", ") %>
<%= form_for @company do |f| %>
<div>
  <%= f.label "Profile Picture" %>
  <%= f.file_field :picture %>
</div>
  <div>
    <%= f.label "Company Name" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label "Tag Line" %>
    <%= f.text_field :tag_line %>
  </div>
  <div>
    <%= f.label "About Us" %>
    <%= f.text_area :description %>
  </div>
<%= f.submit %>

<% end %>
