<h1>Register Company</h1>

<%= @company.errors.full_messages.join(", ") %>
<%= form_for @company do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <!-- <div>
    <%#= f.label :description %>
    <%#= f.text_area :description %>
  </div> -->
    <%= f.label :picture%>
    <%= f.file_field :picture %>
  <div>
<%= f.submit %>

<% end %>
