<div id="inner-wrapper">

<% if @company.picture.blank? == false %>
<!-- <div id='company_image_show'> -->
  <%= image_tag @company.picture.company_profile.url, class: 'company_image_show' %>
</div>
<% end %>

<div id="title_tagline">
<div id="title">
  <h1><%= @company.title %></h1>
</div>

<div>
  <h3><%= @company.tag_line %></h3>
</div>
</div>
<div>

<hr>

  <b>About Us:</b>
  <%= @company.description %>
</div>

<br>

<div id="website">
<h4><%= link_to "Company Website", (@company.link) %></h4>
</div>

<div>
  <%#= "#{@company.user.first_name} #{@company.user.last_name}"  %>
<div>
  <%#= render partial: "users/show", locals: {user: @company.user} %>
</div>
<br>

<% if can? :edit, @company %>
  <%= link_to "Edit Company Profile", edit_company_path(@company), :class => "btn btn-primary btn-lg" %>
<% end %>

<% if @applying.present? && @applying.persisted? %>
  <button type="button" class="btn btn-info btn-lg">Applied</button>
  <!-- <div id="applied">Applied</div> -->
<% else %>
  <%= link_to "Apply", new_company_applying_path(@company), :class => "btn btn-success btn-lg" %>
<% end %>

<hr>

<% if @company.include_map == true %>
<div id="location"><h2>Company Location</h2></div>

<br>

<div>
  <div id="map" style='height: 400px;'></div>
</div>

<script type="text/javascript">

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    // map.setZoom(15);
    {
      "lat": '<%= @company.latitude %>',
      "lng": '<%= @company.longitude %>',
      // "picture": {
      //   "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
      //   "width":  32,
      //   "height": 32
      // },
      "infowindow": '<%= @company.title %>'

    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(14);
});

  // // markers = handler.addMarkers(<%=raw @hash.to_json %>);
  //
  // handler = Gmaps.build('Google');
  // handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  //   markers = handler.addMarkers([
  //     {
  //       "lat": <%= @company.latitude %>,
  //       "lng": <%= @company.longitude %>,
  //       "infowindow": "<%= @company.title %>"
  //     }
  //   ]);
  //   handler.bounds.extendWith(markers);
  //   handler.fitMapToBounds();
  // });
</script>

<% end %>

</div>
