<% if @company.picture.blank? == false %>
<div>
  <%= image_tag @company.picture.thumb.url %>
</div>
<% end %>

<div>
  <h1><%= @company.title %></h1>
</div>

<div>
  <%= @company.tag_line %>
</div>



<div>
  About Us: <%= @company.description %>
</div>
<div>
  <%#= "#{@company.user.first_name} #{@company.user.last_name}"  %>
<div>
  <%= render partial: "users/show", locals: {user: @company.user} %>
</div>

<% if can? :edit, @company %>
  <%= link_to "Edit Company Profile", edit_company_path(@company) %>
<% end %>

<% if @applying.present? && @applying.persisted? %>
  <div id="applied">Applied</div>
  <%# link_to "Unapply", company_applying_path(@company, @applying), method: :delete %>
<% else %>
  <%= link_to "Apply", new_company_applying_path(@company) %>
<% end %>
