<h1><center><u>Application Question Responses</u></center></h1>

<%# @company.applyings.each do |applying| %>
    <p><%#= applying.answer_field %></p>
<%# end %>

  <%#= link_to app.answer_field, company_path(app) %>
<div id="applications">
<% @applyings.each do |app| %>
<%# 100.times do |num| %>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= app.user_id %>" aria-expanded="false" aria-controls="collapseThree">
              <b><%= app.user.user_name %> - </b>
              <%= app.user.tagline %>
              <%#= link_to "View Profile", user_path(@user, app) %>
              <div id='delete_item'><%= link_to "Delete", company_applying_path(@company, app), method: :delete, data: {confirm: "Are you sure?"} %></h4>
            </a>
          </h4>
        </div>
        <div id="<%= app.user_id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <%# app.application_questions.each do |application_question| %>
              <%#= application_question.question %>
            <%# end %>
            <div id="question-answer">
              <% app.application_answers.each do |application_answer| %>
              <div id='application_question'><%= application_answer.application_question.question %>:</div>
              <br>
              <%= application_answer.answer %>
              <br>
              <br>
            <% end %>
          </div>
            <br>
            <% if app.accepted == true %>
              <%= link_to "Application Accepted", company_applying_path(@company, app), method: :delete, class: "btn btn-info"%>
            <% else %>
              <%= link_to "Accept Application", company_applyings_status_change_path(@company, app), method: :post, class: "btn btn-success" %>
            <% end %>
            <%= link_to "Delete", company_applying_path(@company, app), :class => "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          </div>
        </div>
      </div>
    </div>
<% end %>
</div>
<%# end %>
