<h1>Apply to <%= @company.title %></h1>

<% if @applying.errors.any? %>
  <ul>
    <% @applying.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag(company_applyings_path(@company), method: :post) do %>

  <% @company.application_questions.each do |question| %>
    <%= question.question %>
    <%= text_area_tag "answer_#{question.id}" %>
    <br/>
  <% end %>

  <%= submit_tag %>
<% end %>

<%# form_for [@company, @applying] do |f| %>

  <%# @company.application_questions.each do |question| %>
  <%# = f.fields_for :application_answers do |ff| %>
    <%# = render "question", question: question, ff: ff %>
  <%# end %>

<%# end %>


  <%# f.submit %>
<%# end %>
