<h1><center><u>Apply to <%= @company.title %></u></center></h1>

<br>

<% if @applying.errors.any? %>
  <ul>
    <% @applying.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag(company_applyings_path(@company), method: :post) do %>

  <% @company.application_questions.each do |question| %>
    <%#= question.question %>
    <label><%= question.question %></label>
    <%= text_area_tag "answer_#{question.id}", "", class: "form-control", rows: "2" %>
    <!-- <textarea class="form-control" rows="3"></textarea> -->
  </br>
  <% end %>

  <%#= submit_tag %>
  <button type="submit" class="btn btn-primary btn-lg">Send Appplication</button>
<% end %>

<%# form_for [@company, @applying] do |f| %>

  <%# @company.application_questions.each do |question| %>
  <%# = f.fields_for :application_answers do |ff| %>
    <%# = render "question", question: question, ff: ff %>
  <%# end %>

<%# end %>


  <%# f.submit %>
<%# end %>
